section.kind
  .container-fluid
    .row
      .col-xs-12
        .heading
          h2 Виды пластической хирургии
  .kind__row
    article.kind__big.kind__click(style="background-image: url('img/kind/1.jpg')" data-img='img/kind/1.jpg' data-id='1') 
      .kind__big__new
      div
        h1 Пластика груди
        ul
          li 
            a(href="#") Увеличение груди
          li
            a(href="#") Подтяжка груди
          li
            a(href="#") Уменьшение груди
          li
            a(href="#") Импланты
          li
            a(href="#") Лечение гинекомастии
    .kind__tabs__row
      .kind__tabs.active#kind-1
        .tabs
          ul.tabs__caption
            li.active 
              i.icon.icon-price
              | Цены
            li 
              i.icon.icon-article
              | Статьи
            li 
              i.icon.icon-before
              | До и после
            li 
              i.icon.icon-review
              | Отзывы
          .tabs__content.tabs__price.active
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Повторная хирургическая коррекция молочных желез<br> эндопротезированием (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Хирургическая коррекция птоза молочных желез с одномоментным<br> эндопротезированием с имплантами
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
          .tabs__content.tabs__article
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/1.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/2.jpg", alt="")
                section
                  h1 Увеличение груди: что, как, почему ? Ответы<br> на самые популярные вопросы.
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/3.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/4.jpg", alt="")
                section
                  h1 Увеличение груди: что, как, почему ? Ответы<br> на самые популярные вопросы.
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/5.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
          .tabs__content.tabs__before
            h2 Результаты работы наших хирургов
            .tabs__before__photos
              each i in [1,2,3,4,5,6,7,8,9,10,11,12]
                img(src="img/before_after/#{i}.jpg")
          .tabs__content.tabs__review
            h2 Отзывы наших клиентов
            .owl-carousel.owl-theme.review-slider
              .item
                h3 <b>Татьяна, 32 года</b> пишет:
                p Я делала операцию по увеличению груди в медицинском центре города. Хирург - Романчишен Филипп Анатольевич. Я осталась очень довольна!!! Филипп Анатольевич- очень внимателен, ответил на консультации на все вопросы, которые меня беспокоили. Это помогло мне решиться. 
                p Вообще все сотрудники клиники большие молодцы, все очень вежливы, приветливы и профессиональны. Огромное Вам спасибо! Я в первый раз в жизни довольна своей грудью =) Нет на земле таких слов благодарности!
                .item__info
                  .item__info__block
                    p Дата: 
                    span 09.05.2018
                  .item__info__block
                    p Хирург
                    span Романчишен Ф. А.
                  .item__info__block
                    p Операция:
                    span Увеличение груди
              .item
                h3 <b>Татьяна, 32 года</b> пишет:
                p Я делала операцию по увеличению груди в медицинском центре города. Хирург - Романчишен Филипп Анатольевич. Я осталась очень довольна!!! Филипп Анатольевич- очень внимателен, ответил на консультации на все вопросы, которые меня беспокоили. Это помогло мне решиться. 
                p Вообще все сотрудники клиники большие молодцы, все очень вежливы, приветливы и профессиональны. Огромное Вам спасибо! Я в первый раз в жизни довольна своей грудью =) Нет на земле таких слов благодарности!
                .item__info
                  .item__info__block
                    p Дата: 
                    span 09.05.2018
                  .item__info__block
                    p Хирург
                    span Романчишен Ф. А.
                  .item__info__block
                    p Операция:
                    span Увеличение груди
            .tabs__review__prev < Предыдущий отзыв 
            .tabs__review__next Следующий отзыв >
      .kind__tabs#kind-2
        .tabs
          ul.tabs__caption
            li.active 
              i.icon.icon-price
              | Цены 1
            li 
              i.icon.icon-article
              | Статьи 1
            li 
              i.icon.icon-before
              | До и после
            li 
              i.icon.icon-review
              | Отзывы
          .tabs__content.tabs__price.active
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Повторная хирургическая коррекция молочных желез<br> эндопротезированием (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Хирургическая коррекция птоза молочных желез с одномоментным<br> эндопротезированием с имплантами
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
          .tabs__content.tabs__article
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/1.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/2.jpg", alt="")
                section
                  h1 Увеличение груди: что, как, почему ? Ответы<br> на самые популярные вопросы.
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/3.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/4.jpg", alt="")
                section
                  h1 Увеличение груди: что, как, почему ? Ответы<br> на самые популярные вопросы.
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/5.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
          .tabs__content.tabs__before
            h2 Результаты работы наших хирургов
            .tabs__before__photos
              each i in [1,2,3,4,5,6,7,8,9,10,11,12]
                img(src="img/before_after/#{i}.jpg")
          .tabs__content.tabs__review
            h2 Отзывы наших клиентов
            .owl-carousel.owl-theme.review-slider
              .item
                h3 <b>Татьяна, 32 года</b> пишет:
                p Я делала операцию по увеличению груди в медицинском центре города. Хирург - Романчишен Филипп Анатольевич. Я осталась очень довольна!!! Филипп Анатольевич- очень внимателен, ответил на консультации на все вопросы, которые меня беспокоили. Это помогло мне решиться. 
                p Вообще все сотрудники клиники большие молодцы, все очень вежливы, приветливы и профессиональны. Огромное Вам спасибо! Я в первый раз в жизни довольна своей грудью =) Нет на земле таких слов благодарности!
                .item__info
                  .item__info__block
                    p Дата: 
                    span 09.05.2018
                  .item__info__block
                    p Хирург
                    span Романчишен Ф. А.
                  .item__info__block
                    p Операция:
                    span Увеличение груди
              .item
                h3 <b>Татьяна, 32 года</b> пишет:
                p Я делала операцию по увеличению груди в медицинском центре города. Хирург - Романчишен Филипп Анатольевич. Я осталась очень довольна!!! Филипп Анатольевич- очень внимателен, ответил на консультации на все вопросы, которые меня беспокоили. Это помогло мне решиться. 
                p Вообще все сотрудники клиники большие молодцы, все очень вежливы, приветливы и профессиональны. Огромное Вам спасибо! Я в первый раз в жизни довольна своей грудью =) Нет на земле таких слов благодарности!
                .item__info
                  .item__info__block
                    p Дата: 
                    span 09.05.2018
                  .item__info__block
                    p Хирург
                    span Романчишен Ф. А.
                  .item__info__block
                    p Операция:
                    span Увеличение груди
            .tabs__review__prev < Предыдущий отзыв 
            .tabs__review__next Следующий отзыв >           
      .kind__tabs#kind-3
        .tabs
          ul.tabs__caption
            li.active 
              i.icon.icon-price
              | Цены
            li 
              i.icon.icon-article
              | Статьи
            li 
              i.icon.icon-before
              | До и после
            li 
              i.icon.icon-review
              | Отзывы
          .tabs__content.tabs__price.active
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Повторная хирургическая коррекция молочных желез<br> эндопротезированием (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Хирургическая коррекция птоза молочных желез с одномоментным<br> эндопротезированием с имплантами
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
          .tabs__content.tabs__article
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/1.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/2.jpg", alt="")
                section
                  h1 Увеличение груди: что, как, почему ? Ответы<br> на самые популярные вопросы.
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/3.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/4.jpg", alt="")
                section
                  h1 Увеличение груди: что, как, почему ? Ответы<br> на самые популярные вопросы.
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/5.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
          .tabs__content.tabs__before
            h2 Результаты работы наших хирургов
            .tabs__before__photos
              each i in [1,2,3,4,5,6,7,8,9,10,11,12]
                img(src="img/before_after/#{i}.jpg")
          .tabs__content.tabs__review
            h2 Отзывы наших клиентов
            .owl-carousel.owl-theme.review-slider
              .item
                h3 <b>Татьяна, 32 года</b> пишет:
                p Я делала операцию по увеличению груди в медицинском центре города. Хирург - Романчишен Филипп Анатольевич. Я осталась очень довольна!!! Филипп Анатольевич- очень внимателен, ответил на консультации на все вопросы, которые меня беспокоили. Это помогло мне решиться. 
                p Вообще все сотрудники клиники большие молодцы, все очень вежливы, приветливы и профессиональны. Огромное Вам спасибо! Я в первый раз в жизни довольна своей грудью =) Нет на земле таких слов благодарности!
                .item__info
                  .item__info__block
                    p Дата: 
                    span 09.05.2018
                  .item__info__block
                    p Хирург
                    span Романчишен Ф. А.
                  .item__info__block
                    p Операция:
                    span Увеличение груди
              .item
                h3 <b>Татьяна, 32 года</b> пишет:
                p Я делала операцию по увеличению груди в медицинском центре города. Хирург - Романчишен Филипп Анатольевич. Я осталась очень довольна!!! Филипп Анатольевич- очень внимателен, ответил на консультации на все вопросы, которые меня беспокоили. Это помогло мне решиться. 
                p Вообще все сотрудники клиники большие молодцы, все очень вежливы, приветливы и профессиональны. Огромное Вам спасибо! Я в первый раз в жизни довольна своей грудью =) Нет на земле таких слов благодарности!
                .item__info
                  .item__info__block
                    p Дата: 
                    span 09.05.2018
                  .item__info__block
                    p Хирург
                    span Романчишен Ф. А.
                  .item__info__block
                    p Операция:
                    span Увеличение груди
            .tabs__review__prev < Предыдущий отзыв 
            .tabs__review__next Следующий отзыв >
      .kind__tabs#kind-4
        .tabs
          ul.tabs__caption
            li.active 
              i.icon.icon-price
              | Цены
            li 
              i.icon.icon-article
              | Статьи
            li 
              i.icon.icon-before
              | До и после
            li 
              i.icon.icon-review
              | Отзывы
          .tabs__content.tabs__price.active
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Повторная хирургическая коррекция молочных желез<br> эндопротезированием (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Хирургическая коррекция птоза молочных желез с одномоментным<br> эндопротезированием с имплантами
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
          .tabs__content.tabs__article
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/1.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/2.jpg", alt="")
                section
                  h1 Увеличение груди: что, как, почему ? Ответы<br> на самые популярные вопросы.
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/3.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/4.jpg", alt="")
                section
                  h1 Увеличение груди: что, как, почему ? Ответы<br> на самые популярные вопросы.
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/5.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
          .tabs__content.tabs__before
            h2 Результаты работы наших хирургов
            .tabs__before__photos
              each i in [1,2,3,4,5,6,7,8,9,10,11,12]
                img(src="img/before_after/#{i}.jpg")
          .tabs__content.tabs__review
            h2 Отзывы наших клиентов
            .owl-carousel.owl-theme.review-slider
              .item
                h3 <b>Татьяна, 32 года</b> пишет:
                p Я делала операцию по увеличению груди в медицинском центре города. Хирург - Романчишен Филипп Анатольевич. Я осталась очень довольна!!! Филипп Анатольевич- очень внимателен, ответил на консультации на все вопросы, которые меня беспокоили. Это помогло мне решиться. 
                p Вообще все сотрудники клиники большие молодцы, все очень вежливы, приветливы и профессиональны. Огромное Вам спасибо! Я в первый раз в жизни довольна своей грудью =) Нет на земле таких слов благодарности!
                .item__info
                  .item__info__block
                    p Дата: 
                    span 09.05.2018
                  .item__info__block
                    p Хирург
                    span Романчишен Ф. А.
                  .item__info__block
                    p Операция:
                    span Увеличение груди
              .item
                h3 <b>Татьяна, 32 года</b> пишет:
                p Я делала операцию по увеличению груди в медицинском центре города. Хирург - Романчишен Филипп Анатольевич. Я осталась очень довольна!!! Филипп Анатольевич- очень внимателен, ответил на консультации на все вопросы, которые меня беспокоили. Это помогло мне решиться. 
                p Вообще все сотрудники клиники большие молодцы, все очень вежливы, приветливы и профессиональны. Огромное Вам спасибо! Я в первый раз в жизни довольна своей грудью =) Нет на земле таких слов благодарности!
                .item__info
                  .item__info__block
                    p Дата: 
                    span 09.05.2018
                  .item__info__block
                    p Хирург
                    span Романчишен Ф. А.
                  .item__info__block
                    p Операция:
                    span Увеличение груди
            .tabs__review__prev < Предыдущий отзыв 
            .tabs__review__next Следующий отзыв >
      .kind__tabs#kind-5
        .tabs
          ul.tabs__caption
            li.active 
              i.icon.icon-price
              | Цены
            li 
              i.icon.icon-article
              | Статьи
            li 
              i.icon.icon-before
              | До и после
            li 
              i.icon.icon-review
              | Отзывы
          .tabs__content.tabs__price.active
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Повторная хирургическая коррекция молочных желез<br> эндопротезированием (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Хирургическая коррекция птоза молочных желез с одномоментным<br> эндопротезированием с имплантами
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
            a(href="#").tabs__price__block
              p Увеличение молочных желез эндопротезированием<br> (включая импланты) 
                i
              span 300 000 р.
          .tabs__content.tabs__article
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/1.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/2.jpg", alt="")
                section
                  h1 Увеличение груди: что, как, почему ? Ответы<br> на самые популярные вопросы.
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/3.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/4.jpg", alt="")
                section
                  h1 Увеличение груди: что, как, почему ? Ответы<br> на самые популярные вопросы.
            a(href="#")
              article.tabs__article__block
                header
                  img(src="img/articles/5.jpg", alt="")
                section
                  h1 Пластическая хирургия груди: чем могут<br> помочь врачи?
          .tabs__content.tabs__before
            h2 Результаты работы наших хирургов
            .tabs__before__photos
              each i in [1,2,3,4,5,6,7,8,9,10,11,12]
                img(src="img/before_after/#{i}.jpg")
          .tabs__content.tabs__review
            h2 Отзывы наших клиентов
            .owl-carousel.owl-theme.review-slider
              .item
                h3 <b>Татьяна, 32 года</b> пишет:
                p Я делала операцию по увеличению груди в медицинском центре города. Хирург - Романчишен Филипп Анатольевич. Я осталась очень довольна!!! Филипп Анатольевич- очень внимателен, ответил на консультации на все вопросы, которые меня беспокоили. Это помогло мне решиться. 
                p Вообще все сотрудники клиники большие молодцы, все очень вежливы, приветливы и профессиональны. Огромное Вам спасибо! Я в первый раз в жизни довольна своей грудью =) Нет на земле таких слов благодарности!
                .item__info
                  .item__info__block
                    p Дата: 
                    span 09.05.2018
                  .item__info__block
                    p Хирург
                    span Романчишен Ф. А.
                  .item__info__block
                    p Операция:
                    span Увеличение груди
              .item
                h3 <b>Татьяна, 32 года</b> пишет:
                p Я делала операцию по увеличению груди в медицинском центре города. Хирург - Романчишен Филипп Анатольевич. Я осталась очень довольна!!! Филипп Анатольевич- очень внимателен, ответил на консультации на все вопросы, которые меня беспокоили. Это помогло мне решиться. 
                p Вообще все сотрудники клиники большие молодцы, все очень вежливы, приветливы и профессиональны. Огромное Вам спасибо! Я в первый раз в жизни довольна своей грудью =) Нет на земле таких слов благодарности!
                .item__info
                  .item__info__block
                    p Дата: 
                    span 09.05.2018
                  .item__info__block
                    p Хирург
                    span Романчишен Ф. А.
                  .item__info__block
                    p Операция:
                    span Увеличение груди
            .tabs__review__prev < Предыдущий отзыв 
            .tabs__review__next Следующий отзыв >
      
    .kind__click.kind__small.hidden-sm.hidden-md(data-img='img/kind/1.jpg' data-id='1')
      .kind__small__new
      article(style="background-image: url('img/kind/1.jpg')")
        h1 Пластика груди
        ul
          li 
            a(href="#") Увеличение груди1
          li
            a(href="#") Подтяжка груди1
          li
            a(href="#") Уменьшение груди1
          li
            a(href="#") Импланты1
          li
            a(href="#") Лечение гинекомастии1
    .kind__click.kind__small(data-img="img/kind/2.jpg" data-id='2')
      .kind__small__new
      article(style="background-image: url('img/kind/2.jpg')")
        h1 Лицо
        ul
          li 
            a(href="#") Увеличение груди2
          li
            a(href="#") Подтяжка груди2
          li
            a(href="#") Уменьшение груди2
          li
            a(href="#") Импланты2
          li
            a(href="#") Лечение гинекомастии2
    .kind__click.kind__small(data-img="img/kind/3.jpg" data-id='3')
      .kind__small__new
      article(style="background-image: url('img/kind/3.jpg')")
        h1 Тело
        ul
          li 
            a(href="#") Увеличение груди3
          li
            a(href="#") Подтяжка груди3
          li
            a(href="#") Уменьшение груди3
          li
            a(href="#") Импланты3
          li
            a(href="#") Лечение гинекомастии3
    .kind__click.kind__small(data-img="img/kind/4.jpg" data-id='4')
      .kind__small__new
      article(style="background-image: url('img/kind/4.jpg')")
        h1 Интимная<br> пластика 
    .kind__click.kind__small(data-img="img/kind/5.jpg" data-id='5')
      .kind__small__new
      article(style="background-image: url('img/kind/5.jpg')")
        h1 Лазерное<br> удаление
      

          




